# String data type in Python

In [4]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = "Alla Ud Din"
print(type(name))
print(name)

<class 'str'>
Alla Ud Din

In [2]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
print(type(name))
print(name)

<class 'str'>
Muhammad Qasim

In [3]:
message : str = 'PIAIC Student Card \n father's Name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (4212690934.py, line 1)

In [ ]:
message : str = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

In [ ]:
message : str = 'PIAIC "Student Card" \n father Name'
print(message)

PIAIC "Student Card"
 father Name

In [ ]:
# convert any special character into simple character, place \ before character
message : str = 'PIAIC Student Card \n father\'s Name'
print(message)

PIAIC Student Card
 father's Name

In [ ]:
"a" + "b" + "c"

'abc'

In [6]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + age

print(card)

TypeError: can only concatenate str (not "int") to str

In [ ]:
"a" + 7

TypeError: can only concatenate str (not "int") to str

In [ ]:
"a" + str(7)

'a7'

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + str(age)
print(card)

PIAIC Student Card
Student Name: Muhammad Qasim
Age:30

In [ ]:
print(7 + 8 + 2)

17

In [ ]:
print(7 + \
      8 + \
        2)

17

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name +\
"\nAge:" + str(age)+ "\n"+\
"Education: " + education

print(card)

PIAIC Student Card
Student Name: Muhammad Qasim
Age:30
Education: Master in Data Science

# Define multiline string """ """, ''' '''

In [7]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30
card : str = """
PIAIC Student Card
Student Name : 
Father's Name: 
Age: ......
Education : .....
"""

print(card)

PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: ......
Education : .....

# F-string Python

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f'''
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
'''

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [8]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = `
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
`

print(card)

SyntaxError: invalid syntax (3006081097.py, line 7)

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
Total {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science
Total 22

# F-string and jinja style

In [9]:
f"""
student name {name}
"""

'\nstudent name Muhammad Qasim\n'

In [ ]:
print(f"""
student name {name}
""")

student name Muhammad Qasim

In [ ]:
# Jinja Style
"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

In [10]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %s
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

Total 22

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(fname, name, education, age)

print(card)

PIAIC Student Card
Student Name : Muhammad Aslam
Father's Name: Muhammad Qasim
Age: Master in Data Science
Education : 30

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(fname, name, education, age)
#           0      1       2        3

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}
""".format(a=name, b=fname, c=age, d=education)


print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

# Recommended below two f-string format

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [ ]:
student_code : str = """
print("My Name is Muhammad Qasim")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

My Name is Muhammad Qasim
15

# Explore String methods and attributes
pre-define global function we have used

* print
* type
* id
* dir
* len

In [ ]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [ ]:
name : str = "MuHammAd QasIm"
#variable_name.method()
print(name)
print(name.casefold())

MuHammAd QasIm
muhammad qasim

In [ ]:
name : str = "MuHammAd QasIm"
#variable_name.method()
print(name)
print(name.lower())

MuHammAd QasIm
muhammad qasim

In [ ]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.lstrip())

'      MuHammAd QasIm         '

'MuHammAd QasIm         '

In [ ]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.rstrip())

'      MuHammAd QasIm         '

'      MuHammAd QasIm'

In [ ]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.strip())

'      MuHammAd QasIm         '

'MuHammAd QasIm'

In [ ]:
name : str = "      MuHammAd       QasIm         "

#variable_name.method()
display(name)
display(name.strip())

'      MuHammAd       QasIm         '

'MuHammAd       QasIm'

In [ ]:
import re

name : str = "      MuHammAd           QasIm         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'      MuHammAd           QasIm         '

'MuHammAd QasIm'

In [ ]:
import re

name : str = "      MuHammAd           QasIm         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name)

display(name1.strip())

'      MuHammAd           QasIm         '

'MuHammAd QasIm'

In [ ]:
name : str = "MuHammAd QasIm"

#variable_name.method()
display(name)
display(name.title())

'MuHammAd QasIm'

'Muhammad Qasim'

In [ ]:
name:str = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [ ]:
print("Name:\t\t Muhammad Qasim")

Name:		 Muhammad Qasim

In [ ]:
print("Name:\nMuhammad Qasim")

Name:
Muhammad Qasim

In [ ]:
print("Name:\bMuhammad Qasim")

NameMuhammad Qasim

In [ ]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

In [ ]:
1name : str = "Qasim"
print(1name)

SyntaxError: invalid decimal literal (2214117265.py, line 1)

In [ ]:
_1name : str = "Qasim"
print(_1name)

Qasim

In [ ]:
piaic student name : str = "Muhammad Qasim"
print(piaic student name)

SyntaxError: invalid syntax (379964243.py, line 1)

In [ ]:
piaic_student_name : str = "Muhammad Qasim"
print(piaic_student_name)

Muhammad Qasim